[
  {
    "name": "odin",
    "id": "backup",
    "repository": "",
    "storage": "sftp://backup@odin.local:10022/homes/backup/titan/jenkins",
    "encrypted": false,
    "no_backup": false,
    "no_restore": false,
    "no_save_password": false,
    "nobackup_file": "",
    "keys": {
      "ssh_key_file": "/home/jenkins/.ssh/jenkins_on_titan_for_backup_on_odin"
    },
    "filters": "",
    "exclude_by_attribute": false
  },
  {
    "name": "amazons3",
    "id": "backup",
    "repository": "",
    "storage": "s3://eu-west-2@amazon.com/duplybackupoftitan1/jenkins/",
    "encrypted": false,
    "no_backup": false,
    "no_restore": false,
    "no_save_password": false,
    "nobackup_file": "",
    "keys": {
      "s3_id": "{{ backup_s3_access_key_id }}",
      "s3_secret": "{{ backup_s3_secret_key }}"
    },
    "filters": "",
    "exclude_by_attribute": false
  }
]
