[Unit]
Description=haproxy
After=syslog.target
After=network.target

[Service]
Type=simple
User={{ haproxy_user }}
Group={{ haproxy_group }}
ExecStart=/usr/sbin/haproxy -Ws -f /etc/haproxy/haproxy.cfg
Restart=always

[Install]
WantedBy=multi-user.target
