---
- name: Install application packages
  become: true
  ansible.builtin.apt:
    name: "{{ packages }}"
  vars:
    packages:
      - gpick
      - libreoffice
      - imagemagick
      - sound-juicer
      - inkscape
      - easytag
      - brasero
      - vlc
      - openshot-qt
      - blueman
      - lsp-plugins
      - cheese
      - heif-gdk-pixbuf
      - libheif-examples
      - ffmpeg
      - handbrake
      # - devede this is out of date and has a bug; download from https://www.rastersoft.com/programas/devede.html
      - k3b
      - abcde
      - lame
      - flac
      - zbar-tools
      - kid3

# eyeD3
- name: Install eyeD3
  community.general.pipx:
    name: eyeD3
    state: latest

# yt-dlp
- name: Install yt-dlp
  community.general.pipx:
    name: yt-dlp
    state: latest
