#! /bin/bash
LOG_PATH="/var/log/duply/{{ backup_name }}_backup_test/{{ backup_name }}_backup_test.log"

WORK_DIR=$(mktemp -d)
cd $WORK_DIR

if [[ ! "$WORK_DIR" || ! -d "$WORK_DIR" ]]; then
  echo "Could not create temp dir" > "$LOG_PATH"
  exit 1
fi

function cleanup {
  rm -rf "$WORK_DIR"
}

trap cleanup EXIT

env HOME=/home/{{ ansible_user }} duply {{ backup_name }} fetch hdd/home/{{ ansible_user }}/.m2 fetch/ > "$LOG_PATH"

if [ $? -ne 0 ]; then
    urgency="critical"
    title="{{ backup_description }} Backup Test Failed"
    msg="The test of the backup to {{ backup_description }} failed"
else
    urgency="normal"
    title="{{ backup_description }} Backup Test Completed"
    msg="The test of the backup to {{ backup_description }} was successful"
fi

export DISPLAY=:0
su {{ ansible_user }} -c "/usr/bin/notify-send --urgency=$urgency --app-name='{{ backup_description }} Backup Test Script' '$title' '$msg'"
