[Desktop Entry]
Version=1.0
Name=mount-odin.desktop
GenericName=Mount Network Attached Storage
Comment=Mount Network Attached Storage
Exec=/home/{{ ansible_user }}/.local/bin/mount-odin-local
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
Hidden=false
X-GNOME-Autostart-enabled=true
