[Unit]
Description=watchtower
After=docker.service
Requires=docker.service

[Service]
Restart=always
Type=simple
ExecStart=/bin/bash /usr/share/systemd/watchtower.sh
ExecReload=/bin/kill -HUP $MAINPID
PIDFile=/run/watchtower.pid

[Install]
WantedBy=multi-user.target
