# {{ ansible_managed }}
[Desktop Entry]
Name=Yubico Authenticator
GenericName=Yubico Authenticator
Exec="/opt/authenticator/authenticator"
Icon=/opt/authenticator/linux_support/com.yubico.yubioath.png
Type=Application
Categories=Utility;
Keywords=Yubico;Authenticator;
