{
  "dns": [
    "8.8.8.8",
    "8.8.4.4"
  ],
  "registry-mirrors": [
    "{{ docker_registry_mirror }}"
  ],
  "insecure-registries": [
    "{{ docker_insecure_registry }}"
  ],
  "features": {
    "buildkit": true
  }
}
