[Unit]
Description=run {{ backup_user }} backup test

[Service]
Type=simple
ExecStart=/usr/local/sbin/{{ backup_user }}_backup_test.sh
User={{ backup_user }}
Group={{ backup_user }}
WorkingDirectory=/home/{{ backup_user }}

[Install]
WantedBy=multi-user.target
