---
- name: Add hashicorp signing key
  become: true
  ansible.builtin.get_url:
    url: "https://apt.releases.hashicorp.com/gpg"
    dest: /usr/share/keyrings/hashicorp-archive-keyring.asc
    mode: "0644"
    force: true

- name: Add hashicorp repo
  become: true
  ansible.builtin.apt_repository:
    repo: "deb [signed-by=/usr/share/keyrings/hashicorp-archive-keyring.asc] https://apt.releases.hashicorp.com {{ ubuntu_codename }} main"
    filename: hashicorp
    state: present

- name: Install vagrant and libvirt dependencies
  become: true
  ansible.builtin.apt:
    name: "{{ packages }}"
  vars:
    packages:
      - build-essential
      - libvirt-dev
      - libxml2-dev
      - libxslt1-dev
      - libz-dev
      - ruby-dev
      - vagrant

- name: Install libvirt plugin
  ansible.builtin.command: vagrant plugin install vagrant-libvirt

- name: Install mutate plugin
  ansible.builtin.command: vagrant plugin install vagrant-mutate

- name: Ensure user profile directory exists
  become: true
  ansible.builtin.file:
    dest: /home/{{ ansible_user }}/.profile.d
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0775"

- name: Define vagrant variables
  become: true
  ansible.builtin.template:
    src: user_vagrant.sh.j2
    dest: /home/{{ ansible_user }}/.profile.d/vagrant.sh
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0755"
