# {{ ansible_managed }}
[Desktop Entry]
Encoding=UTF-8
Name=BreakTimer
Comment=Break Timer
GenericName=Break Timer
Exec=breaktimer
Terminal=false
Type=Application
Categories=Application
StartupNotify=true
StartupWMClass=breaktimer
