# {{ ansible_managed }}
[Desktop Entry]
Encoding=UTF-8
Name=Intellij
Comment=Integrated Development Environment
Exec=/opt/intellij/bin/idea.sh
Icon=/opt/intellij/bin/idea.png
Terminal=false
Type=Application
Categories=GNOME;Application;Development;
StartupNotify=true
