#! /bin/bash

LINES=$(docker ps -a --filter=name=^/{{ nexus_container_name }}\$ | wc -l)


if test "$LINES" = "2"; then
    echo "Starting existing container"
    docker start -a {{ nexus_container_name }}  
else
    echo "Creating new container"
    docker run -p {{ nexus_http_port }}:8081 \
           -p {{ nexus_docker_internal_port }}:5001 \
           -e MIN_HEAP=256m \
           -e MAX_HEAP=768m \
           --restart=always \
           --volume=/var/lib/sonatype/nexus-data:/nexus-data \
           --name {{ nexus_container_name }} \
           sonatype/nexus3:{{ nexus_container_version }}
fi
