[Unit]
Description=nexus service
After=network.target

[Service]
Type=forking
LimitNOFILE=65536
ExecStart=/home/nexus/nexus-{{ nexus_version }}/bin/nexus start
ExecStop=/home/nexus/nexus-{{ nexus_version }}/bin/nexus stop
ExecStartPost=/bin/sleep 60
User=nexus
Restart=on-abort
TimeoutSec=600

[Install]
WantedBy=multi-user.target
