#! /bin/bash

LINES=$(docker ps -a --filter=name=^/{{ watchtower_container_name }}\$ | wc -l)

if test "$LINES" = "2"; then
    echo "Starting existing container"
    docker start -a {{ watchtower_container_name }}  
else
    echo "Creating new container"
    docker run --restart=always --volume=/var/run/docker.sock:/var/run/docker.sock --name {{ watchtower_container_name }} centurylink/watchtower --cleanup
fi
