# {{ ansible_managed }}
[Desktop Entry]
Encoding=UTF-8
Name=OWASP ZAP
Comment=OWASP ZAP
GenericName=OWASP ZAP
Exec=owaspzap
Terminal=false
Type=Application
Categories=Application;Development;
StartupNotify=true
StartupWMClass=owaspzap
