-.dbus/
-.cache/
-.go/
-.gvfs/
-.local/share/Trash/
-.local/share/containers/
-.m2/
-.minikube/
-.nvm/
-.sdkman/
-.vagrant.d/
-.WindowsXPShare/
e:.*/\.terraform/.*$
e:.*/DELETE/.*$
i:\.virtualboxvms/Windows XP/
e:\.virtualboxvms/[^/]+/.*$
