-.all-repos/
-.asdf/
-.dbus/
-.cache/
-.cargo/
-.cookiecutter_replay/
-.cookiecutters/
-.ddlog/
-.driftctl/
-.gluon/
-.go/
-.gradle/
-.gvfs/
-.konan/
-.local/share/Trash/
-.local/share/containers/
-.lsyncd/
-.m2/
-.minikube/
-.npm/
-.pip-audit-cache/
-.rustup/
-.stack/
-.terrascan/
-.terraform.d/
-.vagrant.d/
-.virtualenvs/
e:\.box$
e:\.envrc$
e:.*/\.terraform/.*$
e:.*/node_modules/.*$
e:.*/DELETE/.*$
i:\.virtualboxvms/Windows XP/
e:\.virtualboxvms/[^/]+/.*$
e:\.libvirt/images/[^/]+/.*$
