[Unit]
Description=registry
After=docker.service
Requires=docker.service

[Service]
Restart=always
Type=simple
ExecStart=/bin/bash /usr/share/systemd/registry-cache.sh
ExecReload=/bin/kill -HUP $MAINPID
PIDFile=/run/registry-cache.pid

[Install]
WantedBy=multi-user.target
