#! /bin/bash
URL="{{ opendata_download_url }}"
statuscode=$(curl --head --silent --location --user '{{ opendata_download_basic_auth | b64decode | trim }}' $URL | head -n 1 | awk -F' ' '{print $2}')

if [ "$statuscode" != "200" ]; then    
    urgency="critical"
    title="Open Data Download Failed: {{ opendata_download_name }}.  Do Not Ignore This Message"
    msg="The {{ opendata_download_name }} open data download failed"
else
    urgency="normal"
    title="Open Data Download Success: {{ opendata_download_name }}"
    msg="The {{ opendata_download_name }} open data download was successful"
fi

DISPLAY=:0 su {{ ansible_user }} -c "/usr/bin/notify-send --urgency=$urgency --app-name='Opendata Download Script: {{ opendata_download_name }} download' '$title' '$msg'"
