[Unit]
Description=run {{ opendata_download_name }} opendata download
OnFailure=status-email-user@%n.service
OnSuccess=status-email-user@%n.service

[Service]
Type=simple
ExecStart=/usr/local/sbin/{{ opendata_download_name }}-opendata-download.sh
WorkingDirectory=/tmp

[Install]
WantedBy=multi-user.target
