#! /bin/bash

URL="https://{{ opendata_server }}/ntrod/CifFileAuthenticate?type=CIF_HU_TOC_FULL_DAILY&day=toc-full"
USERNAME="{{ opendata_download_username }}"
PASSWORD="{{ opendata_download_password | b64decode | trim }}"
statuscode=$(curl -I --silent --location --user "$USERNAME:$PASSWORD" "$URL" | head -n 1 | awk -F' ' '{print $2}')

if [ $statuscode -ne 200 ]; then    
    urgency="critical"
    title="Open Data Download Failed: {{ opendata_download_name }}.  Do Not Ignore This Message"
    msg="The {{ opendata_download_name }} open data download failed"
else
    urgency="normal"
    title="Open Data Download Success: {{ opendata_download_name }}"
    msg="The {{ opendata_download_name }} open data download was successful"
fi

DISPLAY=:0 su {{ ansible_user }} -c "/usr/bin/notify-send --urgency=$urgency --app-name='Opendata Download Script: {{ opendata_download_name }} download' '$title' '$msg'"
