#! /bin/bash
URL="{{ opendata_download_url }}"
OUTPUT_FILE=$(mktemp)
STATUS_CODE=$(curl --silent --location --output "$OUTPUT_FILE" --write-out "%{http_code}" --user {{ opendata_download_user }}:'{{ opendata_download_password | b64decode | trim }}' "$URL")

if [ "$STATUS_CODE" != "200" ]; then    
    echo "STATUS_CODE=$STATUS_CODE"
    urgency="critical"
    title="Open Data Download Failed: {{ opendata_download_name }}.  Do Not Ignore This Message"
    msg="The {{ opendata_download_name }} open data download failed"
else
    echo "STATUS_CODE=$STATUS_CODE"
    urgency="normal"
    title="Open Data Download Success: {{ opendata_download_name }}"
    msg="The {{ opendata_download_name }} open data download was successful"
fi

DISPLAY=:0 su {{ ansible_user }} -c "/usr/bin/notify-send --urgency=$urgency --app-name='Opendata Download Script: {{ opendata_download_name }} download' '$title' '$msg'"
