# {{ ansible_managed }}
[Desktop Entry]
Encoding=UTF-8
Name=Stoplight
Comment=Stoplight Open API 3 Editor
GenericName=Open API 3 Editor
Exec=stoplight
Terminal=false
Type=Application
Categories=Application;Development;
StartupNotify=true
StartupWMClass=stoplight
