---
- name: Install packages
  become: true
  ansible.builtin.apt:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - git
      - gitk
      - gitg
      - meld
      - git-gui
      - git-absorb
      - git-delta

- name: Install bash-completion
  become: true
  ansible.builtin.apt:
    name: bash-completion
    state: present

- name: Download git completion
  become: true
  ansible.builtin.get_url:
    url: https://raw.githubusercontent.com/git/git/master/contrib/completion/git-completion.bash
    dest: /etc/bash_completion.d/git-completion
    mode: "0644"

# Gitleaks
- name: Create temporary file for gitleaks download
  ansible.builtin.tempfile:
    state: file
    suffix: temp
  register: gitleaks_download_tmp

- name: Download gitleaks binary
  become: true
  ansible.builtin.get_url:
    url: "{{ gitleaks_url }}"
    dest: "{{ gitleaks_download_tmp.path }}"
    force: true
  changed_when: false

- name: Extract gitleaks from archive
  become: true
  ansible.builtin.unarchive:
    src: "{{ gitleaks_download_tmp.path }}"
    dest: /usr/local/bin
    remote_src: true
    owner: root
    group: root
    mode: "0755"

# git filter repo
- name: Create temporary file for git filter repo download
  ansible.builtin.tempfile:
    state: directory
    suffix: temp
  register: git_filter_repo_download_tmp

- name: Download git filter repo binary
  become: true
  ansible.builtin.get_url:
    url: "{{ git_filter_repo_url }}"
    dest: "{{ git_filter_repo_download_tmp.path }}"
    force: true
  changed_when: false

# unarchive doesn't work for some reason
- name: Extract git filter repo from archive
  become: true
  ansible.builtin.command: "tar -xvf {{ git_filter_repo_filename }}"
  args:
    chdir: "{{ git_filter_repo_download_tmp.path }}"

- name: Copy git filter repo
  become: true
  ansible.builtin.copy:
    src: "{{ git_filter_repo_download_tmp.path }}/{{ git_filter_repo_folder }}/git-filter-repo"
    dest: /usr/local/bin
    owner: root
    group: root
    mode: "0777"
    remote_src: true

- name: Get location for man files
  ansible.builtin.command: "git --man-path"
  register: man_path

- name: Copy git filter repo man documentation
  become: true
  ansible.builtin.copy:
    src: "{{ git_filter_repo_download_tmp.path }}/{{ git_filter_repo_folder }}/Documentation/man1/git-filter-repo.1"
    dest: "{{ man_path.stdout }}/man1"
    owner: root
    group: root
    mode: "0644"
    remote_src: true

- name: Ensure user profile directory exists
  become: true
  ansible.builtin.file:
    dest: /home/{{ ansible_user }}/.profile.d
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0775"

- name: Download fzf-git
  ansible.builtin.get_url:
    url: "{{ git_fzf_download_url }}"
    dest: /home/{{ ansible_user }}/.profile.d/fzf-git.sh
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0744"
