file:///home/{{ ansible_user }}/Documents Documents
file:///home/{{ ansible_user }}/Downloads Downloads
file:///mnt mnt
file:///home/{{ ansible_user }}/recipes recipes
file:///home/{{ ansible_user }}/scripts scripts
