# {{ ansible_managed }}
[Desktop Entry]
Version=1.0
Name=BreakTimer
GenericName=Break Timer
Comment=Break Timer
Exec=breaktimer
Icon=breaktimer
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
Hidden=false
X-GNOME-Autostart-enabled=true
