[Desktop Entry]
Version=1.0
Name=Mount Odin
GenericName=Mount Network Attached Storage
Comment=Mount Network Attached Storage
Exec=/usr/local/bin/mount_odin_local.sh
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
Hidden=false
X-GNOME-Autostart-enabled=true
