{

  "tfsec": "v{{ tfsec_version }}",
  "terraform-docs": "v{{ terraform_docs_version }}",
  "tflint": "v{{ tflint_version }}",
  "terragrunt": "v{{ terragrunt_version }}",
  "gitleaks": "v{{ gitleaks_version }}",
  "git-mkver": "v{{ git_mkrev_version }}",
  "delta": "{{ delta_version }}",
  "zaproxy": "v{{ owasp_version }}",
  "compose": "v{{ docker_compose_version }}",
  "docker-credential-helpers": "v{{ docker_credential_helper_version }}",
  "chezmoi": "v{{ chezmoi_version }}",
  "minikube": "v{{ minikube_version }}",
  "helm": "v{{ helm_version }}",
  "kind": "v{{ kind_version }}",
  "sealed-secrets": "v{{ kubeseal_version }}",
  "helmfile": "v{{ helmfile_version }}",
  "sops": "v{{ sops_version }}",
  "flux2": "v{{ fluxcd_version }}",
  "istio": "v{{ istio_version }}",
  "act": "v{{ act_version }}",
  "iamlive": "v{{ iam_live_version }}",
  "differential-datalog": "v{{ ddlog_version }}",
  "elm": "{{ elm_version }}",
  "vagrant": "v{{ vagrant_version }}",
  "cue" : "v{{ cue_version }}",
  "dagger" : "v{{ dagger_version }}",
  "git-filter-repo": "v{{ git_filter_repo_version }}",
  "kubeconform": "v{{ kubeconform_version }}",
  "kustomize": "v{{ kustomize_version }}",
  "krew": "v{{ krew_version }}",
  "k9s": "v{{ k9s_version }}",
  "nancy": "v{{ nancy_version }}",
  "task": "{{ task_version }}",
  "mdbook": "v{{ mdbook_version }}",
  "mdbook-mermaid": "v{{ mdbook_mermaid_version }}",
  "osv-scanner": "v{{ osv_scanner_version }}",
  "bats": "v{{ bats_version }}",
  "ossf-scorecard": "v{{ ossf_scorecard_version }}",
  "syft": "v{{ syft_version }}",
  "grype": "v{{ grype_version }}",
  "gron": "v{{ gron_version }}",
  "yq": "v{{ yq_version }}",
  "localstack": "v{{ localstack_version }}",
  "sarif-rs": "v{{ sarif_fmt_version }}",
  "cosign": "v{{ cosign_version }}",
  "pet": "v{{ pet_version }}",
  "devtoys": "v{{ dev_toys_version }}",

  "checkov": "{{ checkov_version }}",
  "boto3": "{{ boto3_version }}",
  "botocore": "{{ botocore_version }}",

  "intellij": "{{ intellij_version }}",
  "vbox": "{{ vbox_version }}",
  "node": "{{ node_version }}",
  "golang": "{{ golang_version }}"

}
