{

  "tfsec": "v{{ tfsec_version }}",
  "terraform-docs": "v{{ terraform_docs_version }}",
  "tflint": "v{{ tflint_version }}",
  "terragrunt": "v{{ terragrunt_version }}",
  "gitleaks": "v{{ gitleaks_version }}",
  "git-mkver": "v{{ git_mkrev_version }}",
  "delta": "{{ delta_version }}",
  "zaproxy": "v{{ owasp_version }}",
  "compose": "v{{ docker_compose_version }}",
  "docker-credential-helpers": "v{{ docker_credential_helper_version }}",
  "chezmoi": "v{{ chezmoi_version }}",
  "minikube": "v{{ minikube_version }}",
  "helm": "v{{ helm_version }}",
  "kind": "v{{ kind_version }}",
  "sealed-secrets": "v{{ kubeseal_version }}",
  "helmfile": "v{{ helmfile_version }}",
  "sops": "v{{ sops_version }}",
  "flux2": "v{{ fluxcd_version }}",
  "istio": "v{{ istio_version }}",
  "act": "v{{ act_version }}",
  "gogs": "v{{ gogs_version }}",
  "iamlive": "v{{ iam_live_version }}",
  "differential-datalog": "v{{ ddlog_version }}",
  "duplicacy": "v{{ duplicacy_version }}",
  "elm": "{{ elm_version }}",
  "jenkins": "jenkins-{{ jenkins_version }}",
  "nexus": "release-{{ nexus_version }}",
  "vagrant": "v{{ vagrant_version }}",
  "cue" : "v{{ cue_version }}",

  "nvm": "v{{ nvm_version }}",
  "tfenv": "v{{ tfenv_version }}",
  "pyenv": "v{{ pyenv_version }}",
  "goenv": "{{ goenv_version }}",

  "psutil": "{{ psutil_version }}",
  "molecule": "{{ molecule_version }}",
  "localstack": "{{ localstack_version }}",
  "boto3": "{{ boto3_version }}",
  "botocore": "{{ botocore_version }}",
  "pre-commit": "{{ pre_commit_version }}",
  "virtualenv": "{{ virtualenv_version }}",
  "nvchecker": "{{ nvchecker_version }}",
  "structlog": "{{ structlog_version }}",
  "tomli": "{{ tomli_version }}",
  "appdirs": "{{ appdirs_version }}",
  "tornado": "{{ tornado_version }}",
  "pycurl": "{{ pycurl_version }}",
  "setuptools": "{{ setuptools_version }}",
  "testresources": "{{ testresources_version }}",
  "semgrep": "{{ semgrep_version }}",
  "http-prompt": "{{ http_prompt_version }}",
  "pipenv": "{{ pipenv_version }}",

  "eclipse": "{{ eclipse_version }}",
  "intellij": "{{ intellij_version }}",
  "vbox": "{{ vbox_version }}",
  "node": "{{ node_version }}",
  "golang": "{{ golang_version }}"

}
