[Unit]
Description=run {{ backup_user }} backup
OnFailure=status-email-user@%n.service

[Service]
Type=simple
User={{ ansible_user }}
WorkingDirectory=/home/{{ backup_user }}
Nice=19
ExecStart=/usr/local/sbin/rclone_{{ backup_user }}_backup.sh

[Install]
WantedBy=multi-user.target
