[Unit]
Description=run {{ backup_user }} backup
OnFailure=status-email-user@%n.service

[Service]
Type=simple
ExecStart=/usr/local/sbin/{{ backup_user }}_backup.sh
WorkingDirectory=/home/{{ backup_user }}

[Install]
WantedBy=multi-user.target
