#! /bin/bash

# find existing key
KEY_ID=$(b2 key list | grep rclone-sync-{{ backup_host }}-{{ backup_user }} | awk '{ print $1 }')

# delete existing key
b2 key delete "$KEY_ID"

# create new key
NEW_KEY=$(b2 key create rclone-sync-{{ backup_host }}-{{ backup_user }} deleteFiles,listAllBucketNames,listBuckets,listFiles,readBucketEncryption,readBucketNotifications,readBucketReplications,readBuckets,readFiles,shareFiles,writeBucketEncryption,writeBucketNotifications,writeBucketReplications,writeFiles --bucket {{ backup_bucket_name }})

# extract id and key
NEW_KEY_ID=$(echo -n $NEW_KEY | awk '{ print $1 }')
NEW_KEY=$(echo -n $NEW_KEY | awk '{ print $2 }')

# update config
sed -i "/account =.*/d" /home/{{ backup_user }}/.config/rclone/rclone.conf
sed -i "/key =.*/d" /home/{{ backup_user }}/.config/rclone/rclone.conf
sed -i "/^[[:space:]]*$/d" /home/{{ backup_user }}/.config/rclone/rclone.conf
echo "account = $NEW_KEY_ID" >> /home/{{ backup_user }}/.config/rclone/rclone.conf
echo "key = $NEW_KEY" >> /home/{{ backup_user }}/.config/rclone/rclone.conf
echo "" >> /home/{{ backup_user }}/.config/rclone/rclone.conf

# update doppler
echo -n "$NEW_KEY_ID" | doppler secrets -p workstation -c {{ backup_host }} set {{ backup_doppler_rclone_key_id }}
echo -n "$NEW_KEY" | doppler secrets -p workstation -c {{ backup_host }} set {{ backup_doppler_rclone_key }}
cat /home/{{ backup_user }}/.config/rclone/rclone.conf | doppler secrets -p workstation -c {{ backup_host }} set {{ backup_doppler_rclone_config }}
