# {{ ansible_managed }}
[Desktop Entry]
Encoding=UTF-8
Name=Lens
Comment=Lens The Kubernetes IDE
GenericName=Kubernetes IDE
Exec=lens
Terminal=false
Type=Application
Categories=Application;Development;
StartupNotify=true
StartupWMClass=lens
