#! /bin/bash
export AWS_VAULT_BACKEND=pass
export AWS_VAULT_PASS_PASSWORD_STORE_DIR=/home/{{ ansible_user }}/.password-store
export AWS_VAULT_PASS_CMD=pass
export AWS_VAULT_PASS_PREFIX=aws.amazon.com/aws-vault
export AWS_VAULT_PROMPT=ykman
