-.all-repos/
-.asdf/
-.dbus/
-.cache/
-.cargo/
-.ddlog/
-.gluon/
-.go/
-.gradle/
-.gvfs/
-.local/share/Trash/
-.local/share/containers/
-.m2/
-.minikube/
-.npm/
-.rustup/
-.sdkman/
-.stack/
-.terraform.d/
-.vagrant.d/
-.WindowsXPShare/
e:.*/\.terraform/.*$
e:.*/node_modules/.*$
e:.*/DELETE/.*$
i:\.virtualboxvms/Windows XP/
e:\.virtualboxvms/[^/]+/.*$
