[
  {
    "name": "{{ backup_local_name }}",
    "id": "backup",
    "repository": "",
    "storage": "sftp://backup@odin.local:10022/homes/backup/thor/andrew",
    "encrypted": false,
    "no_backup": false,
    "no_restore": false,
    "no_save_password": false,
    "nobackup_file": "",
    "keys": {
      "ssh_key_file": "/home/andrew/.ssh/andrew_on_thor_for_backup_on_odin"
    },
    "filters": "",
    "exclude_by_attribute": false
  },
  {
    "name": "{{ backup_remote_name }}",
    "id": "backup",
    "repository": "",
    "storage": "b2://{{ backup_bucket_name }}/andrew/",
    "encrypted": false,
    "no_backup": false,
    "no_restore": false,
    "no_save_password": false,
    "nobackup_file": "",
    "keys": {
      "b2_id": "{{ backup_application_key_id }}",
      "b2_key": "{{ backup_application_key }}"
    },
    "filters": "",
    "exclude_by_attribute": false
  }
]
