---
- name: Install libsecret
  become: true
  ansible.builtin.apt:
    name: "{{ packages }}"
  vars:
    packages:
      - libsecret-tools
      - gnome-keyring

- name: Install script for mounting
  ansible.builtin.template:
    src: mount-odin-local.j2
    dest: /home/{{ ansible_user }}/.local/bin/mount-odin-local
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0755"

- name: Add odin autostart
  ansible.builtin.template:
    src: odin.desktop.j2
    dest: /home/{{ ansible_user }}/.config/autostart/odin.desktop
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0755"

- name: Add {{ nas_host }} password to keyring
  ansible.builtin.command: secret-tool store --label='{{ nas_host }}' server {{ nas_host }} user {{ nas_user }}
  args:
    stdin: "{{ nas_password }}"
    stdin_add_newline: false
  no_log: true
