---
- name: Run playbook tasks
  hosts: thor
  roles:
    # Security
    - role: encryption
    - role: firewall

    # Setup
    - role: ansible
    - role: hosts
    - role: nas
      vars:
        nas_user: thor
        nas_password: "{{ lookup('env', 'ODIN_PASSWORD') }}"
    - role: chezmoi

    # Admin
    - role: flatpak
    - role: journald
    - role: mail
    - role: nvchecker
    - role: system
    - role: shutdown
    - role: status-email
    - role: teamviewer

    # Desktop
    - role: breaktimer
    - role: desktop
    - role: dropbox
    - role: fonts
    - role: fzf
    - role: freerdp
    - role: hints
    - role: multimedia
    - role: noson
    - role: shotwell
    - role: web
    - role: winboat

    # Programming Tools
    - role: asdf
    - role: aws
    - role: bats
    - role: buildpacks
    - role: cheat
    - role: checkov
    - role: cloudflared
    - role: cosign
    - role: cue
    - role: dagger
    - role: data
    - role: devtoys
    - role: direnv
    - role: docs
    - role: doppler
    - role: intellij
    - role: git
    - role: github
    - role: gcloud
    - role: kubernetes
    - role: kvm
    - role: mdbook
    - role: notation
    - role: ossf
    - role: osvscanner
    - role: owaspzap
    - role: packer
    - role: pet
    - role: pgadmin
    - role: podman
    - role: postman
    - role: prettier
    - role: semgrep
    - role: shellcheck
    - role: silversearcher
    - role: sublime
    - role: syft
    - role: task
    - role: terraform
    - role: trivy
    - role: vagrant
    - role: vscode

    # Programming Languages
    - role: android
    - role: ddlog
    - role: elm
    - role: golang
    - role: javascript
    - role: jvm
    - role: haskell
    - role: python
    - role: prolog
    - role: ruby
    - role: rust
    - role: tailwindcss

    # Services
    - role: apache2
    - role: docker
    - role: protonvpn
    - role: registry
    - role: samba
    - role: ssh
    - role: watchtower
    - role: warpinator

  pre_tasks:
    - name: Update repository caches
      become: true
      ansible.builtin.apt:
        update_cache: "yes"
      changed_when: false
