[Unit]
Description=Live Syncing (Mirror) Daemon for home
After=network.target

[Service]
Restart=always
Type=simple
User={{ ansible_user }}
WorkingDirectory=/home/{{ ansible_user }}
Nice=19
ExecStart=echo "Not implemented"
# /usr/bin/lsyncd -nodaemon -pidfile /run/lsyncd-home.pid /etc/lsyncd/lsyncd-home.conf.lua
ExecReload=echo "Not implemented"
#/bin/kill -HUP $MAINPID
PIDFile=/run/lsyncd-home.pid

[Install]
WantedBy=multi-user.target
