/home/{{ ansible_user }}/.all-repos
/home/{{ ansible_user }}/.asdf
/home/{{ ansible_user }}/.dbus
/home/{{ ansible_user }}/.cache
/home/{{ ansible_user }}/.cargo
/home/{{ ansible_user }}/.cookiecutter_replay
/home/{{ ansible_user }}/.cookiecutters
/home/{{ ansible_user }}/.ddlog
/home/{{ ansible_user }}/.driftctl
/home/{{ ansible_user }}/.gluon
/home/{{ ansible_user }}/.go
/home/{{ ansible_user }}/.gradle
/home/{{ ansible_user }}/.gvfs
/home/{{ ansible_user }}/.konan
/home/{{ ansible_user }}/.libvirt/images
/home/{{ ansible_user }}/.local/share/Trash
/home/{{ ansible_user }}/.local/share/containers
/home/{{ ansible_user }}/.lsyncd
/home/{{ ansible_user }}/.m2
/home/{{ ansible_user }}/.minikube
/home/{{ ansible_user }}/.npm
/home/{{ ansible_user }}/.pip-audit-cache
/home/{{ ansible_user }}/.rustup
/home/{{ ansible_user }}/.stack
/home/{{ ansible_user }}/.vagrant.d
/home/{{ ansible_user }}/.virtualboxvms
/home/{{ ansible_user }}/.virtualenvs
/home/{{ ansible_user }}/.terraform.d
/home/{{ ansible_user }}/.terrascan
/home/{{ ansible_user }}/.WindowsXPShare
.box*
.envrc
**/.terraform/**
**/node_modules/**
**/DELETE/**
