settings {
    logfile = "/var/log/lsyncd/home/lsyncd.log",
    statusFile = "/var/log/lsyncd/home/status.log",
    statusInterval = 20,
    insist = true
}

sync {
    default.rsync,
    source = "/hdd/home/{{ ansible_user }}",
    target = "/backup/lsyncd/{{ ansible_user }}",
    exclude = {
        "/.libvirt/images",
        "/.local/share/Trash",
        "/.local/share/containers",
        "/.lsyncd",
        "/.virtualboxvms",
        "/.winboat-vms",
        "**/.terraform/**",
        "**/DELETE/**"
    },
    rsync = {
        chown = "{{ ansible_user }}:{{ ansible_user }}"
    }
}
