/home/{{ ansible_user }}/.libvirt/images
/home/{{ ansible_user }}/.local/share/Trash
/home/{{ ansible_user }}/.local/share/containers
/home/{{ ansible_user }}/.lsyncd
/home/{{ ansible_user }}/.virtualboxvms
/home/{{ ansible_user }}/.WindowsXPShare
**/.terraform/**
**/DELETE/**
