settings {
    logfile = "/var/log/lsyncd/home/lsyncd.log",
    statusFile = "/var/log/lsyncd/home/status.log",
    statusInterval = 20,
    insist = true
}

sync {
    default.rsyncssh,
    source = "/home/{{ ansible_user }}",
    host = "{{ nas_host }}",
    delete = false,
    exclude = {
        "/.asdf",
        "/.dbus",
        "/.cache",
        "/.cargo",
        "/.cookiecutter_replay",
        "/.cookiecutters",
        "/.ddlog",
        "/.gluon",
        "/.go",
        "/.gradle",
        "/.gvfs",
        "/.konan",
        "/.libvirt/images",
        "/.local/share/Trash",
        "/.local/share/containers",
        "/.lsyncd",
        "/.m2",
        "/.minikube",
        "/.npm",
        "/.pip-audit-cache",
        "/.rustup",
        "/.stack",
        "/.vagrant.d",
        "/.virtualboxvms",
        "/.virtualenvs",
        "/.winboat-vms",
        "/.terraform.d",
        "/.terrascan",
        ".box*",
        ".envrc",
        "**/.terraform/**",
        "/gems",
        "**/node_modules/**",
        "**/DELETE/**"
    },
    targetdir = "lsyncd/{{ inventory_hostname }}/{{ ansible_user }}",
    ssh = {
        port = 10022
    }
}
