#! /bin/bash
export DOPPLER_PROJECT=development
export DOPPLER_CONFIG=$(hostname)
export DOPPLER_TOKEN=$(doppler configure --json | yq '.. | select(has("token"))' | yq '.token')
tmpfile=$(mktemp)
dte=$(date +%Y-%m-%d)
chezmoi diff >"${tmpfile}"
if grep -q . "${tmpfile}"; then
    # shellcheck disable=SC1083
    s-nail -s "Chezmoi Diff Run on ${dte}" {{ ansible_user }} <"${tmpfile}"
fi
