#! /bin/bash

export PUPPETEER_CACHE_DIR="{{ puppeteer_cache }}"

for FILE; do

    [[ -e ${FILE} ]] || continue

    FILENAME=${FILE%.*}

    if [[ -f ${FILENAME}.mmd && -f ${FILENAME}.png ]]; then

        read -p "The file ${FILENAME}.png already exists. Do you want to overwrite? [yN] " -n 1 -r
        echo

        if [[ ${REPLY} =~ ^[Yy]$ ]]; then

            PROCESS="Y"

        else
            PROCESS="N"
        fi

    elif [[ -f ${FILENAME}.mmd ]]; then

        PROCESS="Y"

    else

        PROCESS="N"

    fi

    if [[ ${PROCESS} == "Y" ]]; then

        mmdc -i "${FILENAME}.mmd" -o "${FILENAME}.png" -b transparent

    fi

done
